
<div class="enviado">

<div class="text-center m-5 text-white">
    <hr>
    <h1>
        {{ tituloenviado }}
    </h1>
    <hr>

    <ul>
        <li><h3>{{ email }}</h3></li>
        <li><h3>{{ contraseña }}</h3></li>
   
    </ul>
</div>



</div>