<main>


<div class="container">

<div class="imagen">

<h1>Hace tu prosupuesto desde tu casa</h1>

<a href="/prosupuesto">Hace click aqui</a>
</div>
</div>

<div class="container-cartas" id="cartas1">

<div class="carta1">

<div class="card" style="width: 18rem;">
  <img src="./image/lavarropa.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Reparamos Lavarropas</h5>
    <br>
    <p class="card-text"> carga frontal - carga superior - semi automaticos</p>
    <a href="/prosupuesto" class="btn btn-primary">Hacer prosupuesto</a>
  </div>

</div>
<br>
<div class="carta2">
<div class="card" style="width: 18rem;">
  <img src="./image/aire.jpg " class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Reparamos Aires Acondicionados</h5>
    <p class="card-text"> Instalaciones - Reparaciones - Carga de gas</p>
    <a href="/prosupuesto" class="btn btn-primary">Hacer prosupuesto</a>
  </div>
</div>
</div>


<br>
<div class="carta3">
<div class="card" style="width: 18rem;">
  <img src="./image/notebook.jpg " class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Reparamos notebooks y Pc de escritorio</h5>
    <p class="card-text"> Reparaciones generales - carga de sistema operativos</p>
    <a href="/prosupuesto" class="btn btn-primary">Hacer prosupuesto</a>
  </div>
</div>

</div>

</main>