


<div class="pagina">


{{titulo}}

</div>



<main class="principalp">
<div class="imput1">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<br>
<br>
<div class="imput2">
    <label for="exampleFormControlInput2" class="form-label">Nombre y Apellido</label>
    <input class="form-control" type="text" placeholder="Nombre y apellido" aria-label="default input example">
</div>
<br>
<br>
<div class="imput3">
    <label for="exampleFormControlInput2" class="form-label">Direccion y Localidad</label>
    <input class="form-control" type="text" placeholder="Direccion y Localidad" aria-label="default input example">
</div>
<br>
<br>
<input class="form-control" type="number" placeholder="Telefono celular" aria-label="default input example">
<br>
<br>
<input class="form-control" type="text" placeholder="Marca y modelo del producto" aria-label="default input example">
<br>
<br>

<div class="mb-1">
    <label for="exampleFormControlTextarea1" class="form-label">Detalle de la falla / problema</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<br>
<br>
<div class="">
    <label for="formFileMultiple" class="form-label">Fotos del producto</label>
    <input class="form-control" type="file" id="formFileMultiple" multiple>
</div>

</main>