

<div class="containerprosupuesto">

<div class="titulo">


{{titulo}}



</div>


<div class="fondoprosupuesto">
<form action="./prosupuesto" method="post">

<h1>Completa con tus datos</h1>
<br>
<br>
<div class="mb-3">
  <label for="email" class="form-label">Email</label>
  <input type="email" class="form-control" name="email" id="email" placeholder="email@example.com">
</div>

  </div>
  <div class="mb-3" id="celular">
    <label for="celular" class="form-label">celular</label>
    <input type="number" class="form-control" name="celular" id="celular">
  </div>

<div class="mb-3" id="descripciondefalla">
  <label for="descripcion" class="form-label">Descripcion de falla</label>
  <textarea class="form-control" name="descripciondefalla" id="descripciondefalla" rows="3"></textarea>
</div>

<div class="mb-3 text-center ">
        <input type="submit" class="button btn btn-success w-50 p-2" value="Enviar">
    </div>


<div class="text-center">
        <h2 class="text-danger">
            {{ validacion }}
        </h2>
    </div>

</form>


</div>

<div>